.container {
  overflow-y: scroll;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 0 4rem 0;
}

@media (max-width: 900px) {
  .container {
    padding-top: 10.4rem;
    background-position: 58% center;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 11.2rem;
    background-position: 62% center;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .container {
    padding-top: 9.4rem;
  }
}
